/* ChatClient ClientMain.java
 * EE422C Project 7 submission by
 * Zhaofeng Liang
 * zl4685
 * 16230
 * Zohaib Imam
 * szi58
 * 16230
 * Slip days used: 1
 * https://github.com/iamzoh/assignment7
 * Spring 2017
 */
.root{
    -fx-background-color: #D9534F;
    -fx-focus-color: black;
}

.button{
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: #ffd700;
}